/* css variables for colors */
:root {
  --blue: #dcfffdff;
  --red: #d36135ff;
  --green: #4fb477ff;
  --orange: #e6aa68ff;
  --navy: #1c3144ff;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  background: #e2e1e0;
  margin-bottom: 120px;
  font-size: 18px;
}

.score {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 150px;
  padding: 20px;
  background-color: #FFF;
  border: 1px solid;
  border-radius: 10px;
}

a {
  color: var(--green);
}

a:hover {
  color: var(--orange);
}

h2 {
  margin-bottom: -10px;
}

h3 {
  margin-bottom: 0px;
}

#points {
  position: absolute;
  right: 10px;
}

.wrapper {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  background-color: #FFF;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

footer {
  position: fixed;
  height: 100px;
  background-color: var(--blue);
  width: 100%;
  left:0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

footer img {
  height: 90px;
  margin: 5px;
}

.hide {
  height: 1px;
}

/* modal styles*/
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 600px; /* Could be more or less, depending on screen size */
}

.modal-content img{
  width: 250px;
  margin: 0 auto;
  display: block;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

label {
  margin-left: 5px;
}

.stretch {
  width: 100%;
}

/* animation for keyframes page */
/* @keyframes blink{ */
/*   to { */
/*     background-color: var(--green); */
/*   } */
/* } */

.blink{
  /* visibility: hidden; */
  /* animation: blink 0.1s; */
  background-color: var(--green);
  /* transition: background-color 0.2s; */
}

